@import url("https://fonts.googleapis.com/css?family=Bellefair");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url("font-awesome/css/font-awesome.min.css");

html {
  font-family: 'Bellefair', serif;
  background-color:#ffe6e6;
}

.navbar {
  font-family: 'Bellefair', serif;
  position: fixed;
  top: 1em;
  left: 2em;
}

.navbtn{
  display: inline-block;
  padding: 12px;
  border-style: solid;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 20px;   
}

.homepage-title {
  width: 80%;
  margin-top: 10%;
  margin-left: 45%;
}

.homepage-content {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
}

.homepage-grid {
  display: block;
  width: 25%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 3em;
}

.homepage-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.2em;
}

.homepage-grid :hover{
 color: blue;
}

.fa-flask {
  margin-left: 4%;
}

.title{
  font-size: 2.5em;
}

.sub-title {
  margin-top: 10%;
  margin-left: 45%;
  font-size: 2.5em;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
}

.singletag {
  width: 15%;
  font-size: 1.2em;
  text-align: center;
}

.singletag :hover{
  color: blue;
}

.ingredient {
  width: 50%;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 1.3em;
}

.center-text {
  margin-top: 5em;
  margin-left: 40%;
  font-size: 1.2em;
}

.fa-hand-pointer-o {
  margin-left: 6em;
}

.getlucky-title {
  margin-left: 37%;
  margin-top: 2em;
  font-size: 2.5em;
}

.fa-hand-peace-o {
  margin-left: 18%;
}

.getlucky-grid {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  margin-left: 23%;
}

.getlucky-tag {
  width: 25%;
  font-size: 1.5em;
  padding: 10px;
  background-color: #ff9999;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.small-title {
  font-size: 1.8em;
}

.getlucky-budget {
  margin-left: 42%;
  margin-top: 5%;
}

.budget-dropdown {
  margin-right: 2em;
  font-size: 1em;
}

.btn {
  background-color: #ff8080;
  color: white;
  padding: 10px;
  font-size: .8em;
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 667px) { 
  .homepage {
    margin-left: 1.5em;
    margin-top: 30%;
  }

  .homepage-title {
    margin-left: 25%;
    margin-top: 30%;
  }

  .title{
    margin-bottom: 0;
  }

  .fa-flask {
    margin-left: 1.2em;
  }

  .homepage-content{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .homepage-grid {
    width: 50%;
  }

  .navbtn {
    font-size: 1.2em;
    padding: 8px;
  }

  .sub-title {
    margin-top: 3em;
    margin-left: 7%;
  }

}




